<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress-angular/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress-angular/index.php [L]
</IfModule>
